

  
  .animate-infinite-scroll {
    animation: infinite-scroll 30s linear infinite;
  }
  
  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  