/* App.css */
.cursor,
.cursorInner {
  position: fixed;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(255, 255, 255);
  background: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
  transition: all  ease; /* Smooth transition for both cursor and inner cursor */
}

.cursor {
  transform: translate(-50%, -50%);
}

.cursorInner {
  width: 10px;
  height: 10px;
  background: transparent;

  transition: all 1s  ease-out; /* Smooth out transition for inner cursor */
}
*{
  cursor: none;
}