/* mouse.css */

* {
 
  cursor: none;

}

.custom-cursor {



  
  position: fixed;
  top: 110px;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 30px;
  height: 30px;
  z-index: 999999;
  background-color: white;
  border-radius: 50%;
  transition: width 0.2s ease, height 0.2s ease; 
}

.custom-cursor.large {
  width: 100px; /* Size when hovering over text */
  height: 100px;
}
