@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --bg-primary: #1a202c;
  --text-primary: #cbd5e0;
}

.light {
  --bg-primary: #edf2f7;
  --text-primary: #2d3748;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  
}


@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    border-radius: 100%;
    
    width: 5px;  /* Remove scrollbar space */
    background: rgb(0, 0, 0);  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
  }
  }